@{
    ViewBag.Title = "Home Page - Backend2";
}

<div class="text-center">
    <h1>Form parameters parsing demo</h1>
    <ul>
        <li><a asp-controller="Calc" asp-action="Manual">Manual parsing in single action</a></li>
        <li><a asp-controller="Calc" asp-action="ManualWithParsingSeparate">Manual parsing in separate action</a></li>
        <li><a asp-controller="Calc" asp-action="ModelBindingInParameters">Model binding (parameters)</a></li>
        <li><a asp-controller="Calc" asp-action="ModelBindingInSeparateModels">Model binding (separate model)</a></li>
    </ul>
</div>
